* {
  background-color: rgb(226, 211, 226);
}

.main-head {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 600;
  font-size: 4rem;
  margin-left: 6vw;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  border-collapse: collapse;
}

.buttton-main {
  /* margin-top: -5rem; */
  display: flex;
  margin-bottom: 5vh;
  justify-content: space-evenly;
}

.button-go {
  padding: 20px;
  padding-right: 60px;
  padding-left: 55px;
  border: solid black 2px;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button-wall {
  padding: 20px;
  padding-right: 60px;
  padding-left: 60px;
  border: solid black 2px;
  border-radius: 0.5rem;
  cursor: pointer;
}

td {
  border: solid black 1px;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(194, 168, 194);
}

.td-one {
  background-color: red;
}

.rd-two {
  background-color: black;
}

.td-zero {
  background-color: none;
}

.td--fina {
  background-color: green;
}

.td-last {
  background-color: yellow;
}
